@charset "UTF-8";
/*RESET*/
p,div ,h5, h4, h3,h2,h1,ul,a ,img{ -webkit-margin-before: 0em;-webkit-margin-after: 0em; -webkit-padding-start: 0px; -moz-margin-start: 0; -moz-margin-after: 0; -moz-padding-start: 0; margin:0px; padding:0px; border:0px;}
a, a:link, a:visited {text-decoration:none; color:#000;}
ul{list-style-type: none;}
li{display:block;color:#000;
  /*transition*/
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
* { outline: none; }

html{
  height:100%;
  width:100%;
  font-size:10px;
}

@import 'variables';
@import 'components/_typography.scss';

body{
  background-color:#FFF;
  margin:0;
  padding:0;
  font-size:1em;
  line-height: 1.8em;
  font-family: $font-body;
  width:100%;
  height:100%;
  overflow:hidden;
}

#header{width:100%; background-color:#eeeeee; height:70px; position:fixed; x-index:11;}
#logo{display:inline-block; height:50px; position:relative; left:20px; top:10px;}
#company{display:inline-block; position:relative; left:30px; font-weight:bold; color:#FFF; line-height:70px; height:70px; vertical-align:top;}
#company h1{ font-size:1.8em;}
#navigation ul.first li { color:#000; cursor:pointer; color:#000;}
#navigation ul.first li.menu:hover{background-color:$primary-color; color:#FFF;}
#navigation ul.first ul.second li:hover{background-color:$primary-color; color:#FFF; }
#navigation ul.first li.main_nav.active{background-color:$primary-color; color:#FFF; }
#navigation ul.first ul.second li.second_nav.active{background-color:$primary-color; color:#FFF;}
#navigation a, #navigation a:link, #navigation a:visited {display:block; text-decoration:none; padding-left:20px;}
#navigation a:hover {color:#FFF;}
#navigation ul.first ul.second li a, #navigation ul.first ul.second li a:link { padding-left:40px;}
.list_services {padding-left:20px;}
.second{height:100px;}

.page {

  float:left;
  padding:16px 16px 0px 16px;
  left:186px;
  position:relative;
  opacity:1;
  filter:alpha(opacity=100);
  display:block;
  top:70px;
  overflow-x:auto;
  overflow-y:auto;
  width:80%;
}

#page_welcome, #page_rehab, #page_training, #page_massages, #page_electrical, #page_nutrition, #page_partner, #page_pictures, #page_videos, #page_art_nutrition, #page_new_article{display:none; left:186px;}
#page_pictures{width:85%; height:300px;}
.categorie {display:block; margin-bottom:40px; vertical-align:top;}
.services{display:inline-block;}
.btn_upload{position:relative; margin-top:1em;}
.arrow-right{ width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000; display:inline-block; margin-right:5px; margin-bottom:2px;}
.close{width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #000; display:inline-block; margin-right:5px; margin-bottom:0px;}

// =========================
// MESSAGE
// =========================

#msg,
div.message{
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  background-color: $error-background;

  p {
    color: #FFF;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 30px
  }

  &.success{
    background-color: $success-background
  }
}



.title_categorie{ border-bottom:1px solid #B3B3B3; margin-bottom:1em; padding-bottom:0.2em; width:100%; height:20px; clear:both; margin-bottom:20px;}
.content_categorie p {color:#4D4D4D; font-size:1em; font-weight:550; line-height:2em;}

/* Input in Login Admin Screen */
.bg_input{
  padding:2px;
  height:25px;
  border:1px solid #4D4D4D;
  background-color:#FFF;
}

.bg_input.pass{display:block; width:273px; margin-top:0.3em;}
.label{margin-right:10px;font-size:1.2em; height:28px; line-height:28px; width:65px; float:left;}

#price_per_checkbox{font-size:1.2em; margin-top:-2px;margin-left:10px;}
#pricer_per_checkbox input{margin-right:5px;}
#pricer_per_checkbox label{margin-right:10px;}
.select_button{display:inline-block;}
.bg_textarea{ display:inline-block; padding:2px; border:1px solid #4D4D4D;}
.bg_textarea textarea {border:1px #FFF; width:98.5%;}

.gauche{left:0%; margin-left:0px; font-size: 12px; line-height:1.56em;}
.bg_input input {border:1px #FFF; line-height:2em; height:2em;}
.gallery{width:234px;}
.btn_input{display:inline-block; margin-top:1em; height:2em; padding:2px; border:1px solid $primary-color; background-color:$primary-color; width:6em; cursor:pointer;}
.btn_input p, .btn_textarea p  { text-align:center; color:#FFF; font-weight:bold; line-height:2.5em;}

@import 'components/product-table';

.row_thumbnail{
  width: 150px;
  max-width: 150px;
}

.text_nutrition{
  width:300px;
  white-space: nowrap;
  overflow:hidden;
}

.new_article{
  cursor:pointer;
}

.new_article img {
  margin-left: -9px;
}

.nutri{
  margin-top:0em;
  margin-bottom:1em;
}

#page_about	.content_gallery {
  float: left;
  width: 240px;
  margin-right: 20px;
  padding-bottom: 20px;
  vertical-align: top;
}

#page_about	.picture_gallery {
  width: 200px;
  height: 45px;
  overflow: hidden;
}

.content_gallery{
  float:left;
  margin-right:20px;
  vertical-align:top;
}

.picture_gallery{
  height:240px;
  overflow:hidden;
}

.video_gallery {
  /*width:240px; */
  height:144px;
  overflow:hidden;
}

.partner_gallery {
  /*width:240px;*/
  height:160px;
  overflow:hidden;
  background-color:$primary-color;
  padding: 10px 0px 10px 0px;
  text-align:center;
  line-height:160px;
}

.partner_gallery img {
  vertical-align:middle;
}

#page_pictures form, #page_videos form , #page_partner form{
  display:inline-block;
  vertical-align:top;
}



.details{float:left; margin-right:40px; width:50%; min-width:820px;}
.column{width:100%; margin-top:20px;}
.column li{float:left; margin-right:20px; width:28%; min-width:280px;}
#form_property{width:100%; margin-top:20px;}
#form_property ul {background-color:WhiteSmoke; width:30%; margin-right:1%; padding:10px; min-width:250px; border-color:1px solid #333;}
#form_property li {margin-top:10px; }
.button{background-color:$primary-color; padding:2px 2px 4px 10px; color:#FFF; width:75px; display:inline-block;}

.pro{
  float:left;
  font-size:12px;
  margin-right:23px;
  background-color:#FFF;
}
.submit_form{float:right; margin-right:67px;}
.room, .room_add{padding:10px;  background-color:#eeeeee;}

.submit_form_room{float:right; margin-right:24px;}
.push{margin-bottom:30px;}


/* New Css */

/* GENERAL CSS */

.float{
  float:left;
}

.right{
  float:right;
}

.clear{
  clear:both;
}

.page{
  font-size:1em;
}

#navigation {
  float:left;
  position:fixed;
  left:0;
  top:70px;
  background-color:#eeeeee;
  height:100%;
  font-size:1.2em;
  padding-top:2.5em;
  line-height:25px;
  width:186px;
  z-index:10;
}

.delete_box{
  margin: 50px 0 0 0;
  font-size:1.2em;
  /*Test*/
  margin-right: 18px;
}


@import 'components/form';
@import 'pages/property-overview';

/* SERVICE PAGES */

.pic_service{
  margin:0 20px 0 0;
}

#page_informations .res2-row .input{
  width:240px
}

#page_informations .res2-row label {
  width: 150px;
}

#add_buy_overview .res2-row .input,
.property_overview .res2-row .input {
  width:240px
}

#add_buy_overview .res2-row label,
.property_overview .res2-row label{
  width:120px
}

#add_buy_overview .textarea,
.property_overview .textarea,
.property_room .textarea {
  width:auto;
}

.picture_property{
  width:240px;
  margin:0 20px 0 0;
}

.picture_property img{
  width:240px;
}

/*.property_overview .float{
	float:none;
	clear: both;
}*/


/* PROPERTY DETAILS */

.property_details .res2-row label {
  float: left;
  width: 90px;
  padding: 2px 11px 0 0;
  font-size: 1.2em;
}

.property_details .details li {
  margin: 0px 20px 0 0;
}

/*.property_details .details{
	min-width: 745px;
}*/

/* PROPERTY ROOM */

.property_room .res2-row label{
  width: 90px;
}

.property_room .room_box {
  padding:15px 15px 0px 10px;
  border:1px solid #d6d6d6;
  margin:0 20px 20px 0;
  height:355px;
}

/*.room_box{ 
	width:24%; 
	float:left; 
	margin-right:10px; 
	margin-top:10px; 
	min-width:350px;
}*/

/* LOG IN */

#password {
  position:relative;
  left:50%;
  top:50%;
  margin-top:-75px;
  margin-left:-150px;
  width:300px;
  height:150px;
  color:$primary-color;
  font-weight:bold;
}

#password p {
  font-size:1.2em;
}

/* PROPERTY EDIT MENU */

.menu_property a, .menu_property a:link, .menu_property label {
  color:#FFF;
  text-decoration:none;
  font-size:1.2em;
  font-weight:bold;
  margin:0 5px 0 0;
}

.menu_property a:hover{
  text-decoration:underline;
}

.menu_property li.selected{
  background-color:#fff;
}

.menu_property li.selected a, .menu_property li.selected a:link{
  color:$primary-color;
}

.menu_property{
  width:796px;
  line-height:30px;
  background-color:$primary-color;
  margin-bottom:20px;
  padding:0 15px 0px;
}

.menu_property li{
  padding:0 10px;
}

/* SHOP SCREEN CMS PAGES */

/* Add a property */

.res2-row-head{
  padding: 0 0 20px;
  clear:both;
}

.res2-row-title{
  font-size: 16px;
  color:#404041;
}

.res2-row-or{
  font-size: 46px;
  color: #cccccc;
  font-weight:bold;
  margin: 10px 0 10px 0;
  display: block;
}

.orange{
  background-color:#f5b669;
  /*color:#fff;*/
}

@import 'components/slider-settings';