.slider-settings{
  margin-top: 60px;
  margin-bottom: 60px;

  .slider-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

    .btn{
      margin-right: 20px;
    }
  }

  form{

    &#select-style{
      width: 50px;
    }

    &#select-layout{
      width: 220px;
    }

    .res2-row{
      p{
        font-size: 12px;
        color: #999;
        margin-top: 10px;
      }
    }
  }
}